---
import Layout from "../layouts/Layout.astro";
import ProfileCardLarge from "@/components/profile-card-large.astro";
import ProfileCardSmall from "@/components/profile-card-small.astro";
import { ContactCard, ContactCardWithLink } from "@/components/contact-card";
import ProjectCard from "@/components/project-card.astro";
import LanguageCard from "@/components/language-card.astro";
import { Toaster } from "@/components/ui/sonner";

import { FaGithub } from "react-icons/fa";
import { FaInstagramSquare } from "react-icons/fa";
import { SiGmail } from "react-icons/si";
import { FaPhoneAlt } from "react-icons/fa";
---

<Layout title="Jeerabhat S.">
  <div class="relative z-10 h-screen bg-black bg-opacity-20">
    <main class="relative w-full px-6 sm:px-14 flex flex-col gap-20">
      <div
        class="flex w-full text-center lg:text-left h-screen items-center lg:justify-center"
      >
        <div class="w-full">
          <h1 class="self-center text-xl sm:text-2xl font-medium">
            Jeerabhat S.
          </h1>
          <h1 class="text-5xl sm:text-6xl font-semibold">PORTFOLIO</h1>
        </div>
      </div>

      <a name="about-me"></a>

      <div class="flex w-full gap-3 justify-center">
        <div class="hidden lg:flex w-full gap-3"><ProfileCardLarge /></div>

        <div class="flex w-full lg:hidden justify-center">
          <ProfileCardSmall />
        </div>
      </div>

      <div class="w-full flex flex-col gap-2 items-center lg:items-start">
        <h1 class="text-2xl font-semibold">Contacts</h1>
        <div
          class="flex flex-col w-11/12 md:w-1/2 lg:w-full 2xl:w-10/12 lg:flex-row gap-4 lg:justify-between"
        >
          <ContactCard
            title="Phone"
            description="0918842784"
            targetContent="0918842784"
            className="bg-gradient-to-l from-green-900 to-slate-900 w-full"
            client:idle
          >
            <FaPhoneAlt className="w-8 h-8" />
          </ContactCard>

          <ContactCardWithLink
            title="Github"
            href="https://github.com/okumans"
            description="Okumans"
            className="bg-gradient-to-r from-slate-900 to-black  w-full"
            client:idle
          >
            <FaGithub className="w-8 h-8" />
          </ContactCardWithLink>

          <ContactCard
            title="Gmail"
            description="kaopancraft@gmail.com"
            targetContent="kaopancraft@gmail.com"
            className="bg-gradient-to-r from-[#4285F444] to-[#F2B50F66] w-full "
            client:idle
          >
            <SiGmail className="w-8 h-8" />
          </ContactCard>

          <ContactCardWithLink
            title="Instragram"
            description="okumanss"
            href="https://www.instagram.com/okumanss/"
            className="bg-gradient-to-r from-[#833ab444] via-[#fd1d1d55] to-[#fcb04566] w-full "
            client:idle
          >
            <FaInstagramSquare className="w-8 h-8" />
          </ContactCardWithLink>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <h1 class="text-2xl font-semibold">Programing language</h1>
        <div class="flex flex-wrap justify-center lg:justify-start gap-3">
          <LanguageCard src="/Language-C.svg" alt="Language-C" title="C" />
          <LanguageCard
            src="/Language-Cpp.png"
            alt="Language-C++"
            title="C++"
          />

          <LanguageCard
            src="/Language-Rust.png"
            alt="Language-Rust"
            title="Rust"
          />

          <LanguageCard
            src="/Language-Python.svg"
            alt="Language-Python"
            title="Python"
          />

          <LanguageCard
            src="/Language-JavaScript.png"
            alt="Language-JavaScript"
            title="JavaScript"
          />

          <LanguageCard
            src="/Language-TypeScript.png"
            alt="Language-TypeScript"
            title="TypeScript"
          />

          <!-- i'm learning it na. -->
          <LanguageCard
            src="/Language-Go.svg"
            alt="Language-Go"
            title="Go"
            className="hidden md:flex"
            disabled
          />
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <h1 class="text-2xl font-semibold">Projects</h1>
        <ProjectCard
          title="FaceRec"
          description={`A real-time facial recognition system built with Python and PyQt5, designed to run on a Raspberry Pi 4. It includes a userfriendly GUI, real-time database and a web-based dashboard for comprehensive management and monitoring.`}
          href="https://github.com/Okumans/FaceRec"
          imageSrc="/Project-FaceRec.png"
          imageWidth={41}
          imageHeight={18}
          alt="Project-FaceRec-Example"
        />

        <ProjectCard
          title="MathForFun"
          description={`A React-based web application designed to help users quickly find the right math formula to use, featuring a robust keyword search algorithm and detailed information for each formula.`}
          href="https://github.com/Okumans/MathForFun"
          imageSrc="/Project-MathForFun.png"
          imageWidth={32}
          imageHeight={17}
          alt="Project-MathForFun-Example"
        />

        <ProjectCard
          title="Calculator"
          description={`A project designed to learn C++, featuring an extensive and easily extendable calculator. It supports three extendable formats: infix, prefix, and postfix, along with three built-in types: lambda, storage, and number.`}
          imageSrc="/Project-Calculator.png"
          imageWidth={10}
          imageHeight={10}
          alt="Project-Calculator-Example"
          href="https://github.com/Okumans/CalculatorCppTUI"
        />

        <ProjectCard
          title="EasyRunner"
          description={`A Rust-based competitive programming code runner, built with caching and a testing system for an enhanced experience in the terminal (e.g., with Neovim).`}
          imageSrc="/Project-Erunner.png"
          imageWidth={10}
          imageHeight={10}
          alt="Project-EasyRunner-Example"
          href="https://github.com/Okumans/EasyRunner"
        />

        <ProjectCard
          title="Brookshear Assembler"
          description={`A Rust-based tool that converts assembly language code into binary format for use with the joeledstrom Brookshear- Emulator. This assembler translates human-readable assembly code into machine code that can be executed by the emulator.`}
          href="https://github.com/Okumans/brookshear_assembler"
        />
      </div>
    </main>
    <Toaster client:idle />
  </div>
</Layout>
