---
import Layout from "../layouts/Layout.astro";
import ProfileCardLarge from "@/components/profile-card-large.astro";
import ProfileCardSmall from "@/components/profile-card-small.astro";
import { ContactCard, ContactCardWithLink } from "@/components/contact-card";
import { Toaster } from "@/components/ui/sonner";

import { FaGithub } from "react-icons/fa";
import { FaInstagramSquare } from "react-icons/fa";
import { SiGmail } from "react-icons/si";
import { FaPhoneAlt } from "react-icons/fa";
---

<Layout title="Welcome to Astro.">
  <div class="relative z-10 h-screen bg-black bg-opacity-20">
    <main class="relative w-full px-6 sm:px-14 pt-10 flex flex-col gap-10">
      <div class="text-center lg:text-left">
        <h1 class="self-center text-xl sm:text-2xl font-medium">
          Jeerabhat S.
        </h1>
        <h1 class="text-5xl sm:text-6xl font-semibold">PORTFOLIO</h1>
      </div>

      <div class="flex w-full gap-3 justify-center">
        <div class="hidden lg:flex w-full gap-3"><ProfileCardLarge /></div>

        <div class="flex w-full lg:hidden justify-center">
          <ProfileCardSmall />
        </div>
      </div>

      <div class="w-full flex flex-col gap-2 items-center lg:items-start">
        <h1 class="text-2xl font-semibold">Contacts</h1>
        <div
          class="flex flex-col w-11/12 md:w-1/2 lg:w-full lg:flex-row gap-4 lg:justify-between"
        >
          <ContactCard
            title="Phone"
            description="0918842784"
            targetContent="0918842784"
            className="bg-gradient-to-l from-green-900 to-slate-900 w-full"
            client:load
          >
            <FaPhoneAlt className="w-8 h-8" />
          </ContactCard>
          <ContactCardWithLink
            title="Github"
            href="https://github.com/okumans"
            description="Okumans"
            className=""
            className="bg-gradient-to-r from-slate-900 to-black  w-full"
            client:load
          >
            <FaGithub className="w-8 h-8" />
          </ContactCardWithLink>

          <ContactCard
            title="Gmail"
            description="kaopancraft@gmail.com"
            targetContent="kaopancraft@gmail.com"
            className="bg-gradient-to-r from-[#4285F444] to-[#F2B50F66] w-full "
            client:load
          >
            <SiGmail className="w-8 h-8" />
          </ContactCard>

          <ContactCardWithLink
            title="Instragram"
            description="okumanss"
            href="https://www.instagram.com/okumanss/"
            className="bg-gradient-to-r from-[#833ab444] via-[#fd1d1d55] to-[#fcb04566] w-full "
            client:load
          >
            <FaInstagramSquare className="w-8 h-8" />
          </ContactCardWithLink>
        </div>
      </div>
    </main>
    <Toaster client:load />
  </div>
</Layout>
