---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="random"
  config={{ fontSize: 96, spawnRate: 5, speedRange: [1, 2] }}
>
  <div class="relative z-10 h-screen bg-black bg-opacity-20">
    <main class="h-full w-full flex items-center justify-center">
      <h1 class="text-5xl font-bold">Coming Soon...</h1>
    </main>
  </div>
</Layout>
