---
import { Image } from "astro:assets";
import { cx } from "class-variance-authority";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  src: string;
  alt: string;
  className?: string;
  disabled?: boolean;
}

const { src, alt, title, disabled, className } = Astro.props;
---

<div
  class={cn(
    "aspect-square w-24 h-24 md:w-36 md:h-36 p-3 rounded-xl border bg-card/50 backdrop-blur-sm text-card-foreground shadow flex flex-col items-center justify-center gap-2",
    className,
  )}
>
  <Image
    src={src}
    alt={alt}
    width={10}
    height={10}
    class={cx(
      "h-10 md:h-14 w-auto object-contain object-top",
      disabled && "opacity-40",
    )}
  />
  <h1 class={cx("hidden md:block", disabled && "opacity-40")}>{title}</h1>
</div>
