---
import "../styles/globals.css";
import { NavBar } from "@/components/navbar";
import { AsciiCanvas } from "@/components/ascii-canvas";

interface AsciiCanvasConfig {
  fontSize: number;
  spawnRate: number;
  speedRange: [number, number];
  hueRange: [number, number];
}

interface Props {
  title: string;
  config?: AsciiCanvasConfig;
}

const { title, config } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="font-mono">
    <div class="absolute top-0 left-0 w-full h-full z-0">
      <AsciiCanvas
        fontSize={config?.fontSize || 36}
        spawnRate={config?.spawnRate || 5}
        speedRange={config?.speedRange || [0.1, 4]}
        hueRange={config?.hueRange || [0, 360]}
        client:load
      />
    </div>
    <div class="fixed bg-black w-full bg-opacity-60 z-30">
      <NavBar client:load />
    </div>
    <slot />
  </body>
</html>
